<%- include('./fragments/header.ejs') %>

    <main>
        <h2 style="text-align: center;">School's Time Table</h2>
        <p style="text-align: center;">MultiLanguage is a site for school representatives where they can manage
            students, teachers and their lessons
            alongside with the presences.</p>
        <!-- <table style="margin-left: auto;margin-right: auto;" class="table-list">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            <tr>
                <th>8:30-10:00</th>
                <td></td>
                <td>
                    <p>
                        Classroom 170
                    </p>
                    <p>
                        Topic:"Adjectives"
                    </p>
                    <p>
                        Nauczyciel: Michał Melaniuk
                    </p>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>10:15-11:45</th>
                <td></td>

                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        Classroom 107
                    </p>
                    <p>
                        Topic:"USA Elections"
                    </p>
                    <p>
                        Nauczyciel: Julian Mikołajczyk
                    </p>
                </td>
            </tr>
            <tr>
                <th>12:15-13:45</th>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        Classroom 170
                    </p>
                    <p>
                        Topic:"Verbs"
                    </p>
                    <p>
                        Nauczyciel: Tomasz Kostrzewa
                    </p>
                </td>
                <td></td>
            </tr>
            <tr>
                <th>14:00-15:30</th>
                <td></td>
                <td></td>
                <td>
                    <p>
                        Classroom 107
                    </p>
                    <p>
                        Topic:"Riot in NYC"
                    </p>
                    <p>
                        Nauczyciel: Julian Mikołajczyk
                    </p>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>15:45-17:15</th>
                <td>
                    <p>
                        Classroom 2B
                    </p>
                    <p>
                        Topic:"Phrasal verbs"
                    </p>
                    <p>
                        Nauczyciel: Michał Melaniuk
                    </p>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table> -->


    </main>
    <%- include('./fragments/footer.ejs') %>