<!DOCTYPE html>
<html lang="pl-PL">
<link rel="stylesheet" href="./css/style.css" />


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Szkoła językowa MultiLanguage</title>


<body>
    <header>
        <a href="./index.html">
            <img src="./images/logo.png" alt="Szkoła językowa MultiLanguage Logo" class="center">
        </a>
    </header>

    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./Students.html">Students</a></li>
            <li><a href="./Teachers.html" class="active">Teachers</a></li>
            <li><a href="./Lessons.html">Lessons</a></li>
            <li><a href="./Presences.html">Presences</a></li>
        </ul>
    </nav>

    <main>
        <h2>Teacher Details</h2>
        <form class="form" style="justify-content: left;">
            <label for="TeacherID">TeacherID:</label>
            <input type="text" name="TeacherID" value="1" id="TeacherID" disabled />
            <label for="firstName">Name:</label>
            <input type="text" name="firstName" value="Julian" id="firstName" disabled />
            <label for="lastName">Surname:</label>
            <input type="text" name="lastName" value="Mikołajczyk" id="lastName" disabled />
            <label for="Salary">Salary:</label>
            <input type="number" name="Salary" value="3500" id="Salary" disabled />
            <label for="HireDate">HireDate:</label>
            <input type="date" name="HireDate" value="2010-02-07" id="HireDate" disabled />
        </form>

        <h2>Teacher Time Table</h2>

        <table class="table-list">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            <tr>
                <th>8:30-10:00</th>
                <td></td>
                <td>
                    <p>
                        Classroom 170
                    </p>
                    <p>
                        Topic:"Adjectives"
                    </p>
                    <p>
                        Nauczyciel: Michał Melaniuk
                    </p>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>10:15-11:45</th>
                <td></td>

                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        Classroom 107
                    </p>
                    <p>
                        Topic:"USA Elections"
                    </p>
                    <p>
                        Nauczyciel: Julian Mikołajczyk
                    </p>
                </td>
            </tr>
            <tr>
                <th>12:15-13:45</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>14:00-15:30</th>
                <td></td>
                <td></td>
                <td>
                    <p>
                        Classroom 107
                    </p>
                    <p>
                        Topic:"Riot in NYC"
                    </p>
                    <p>
                        Nauczyciel: Julian Mikołajczyk
                    </p>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>15:45-17:15</th>
                <td>
                    <p>
                        Classroom 2B
                    </p>
                    <p>
                        Topic:"Phrasal verbs"
                    </p>
                    <p>
                        Nauczyciel: Michał Melaniuk
                    </p>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>


    </main>
    <footer>
        Julian, Mikołajczyk, s18734
    </footer>

</body>

</html>