<!DOCTYPE html>
<html lang="pl-PL">
<link rel="stylesheet" href="./css/style.css" />


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Szkoła językowa MultiLanguage</title>


<body>
    <header>
        <a href="./index.html">
            <img src="./images/logo.png" alt="Szkoła językowa MultiLanguage Logo" class="center">
        </a>
    </header>

    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./Students.html">Students</a></li>
            <li><a href="./Teachers.html">Teachers</a></li>
            <li><a href="./Lessons.html" class="active">Lessons</a></li>
            <li><a href="./Presences.html">Presences</a></li>
        </ul>
    </nav>

    <main>
        <div class="container">
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher Name</th>
                        <td class="lesson-table-element">Jan Nowacki</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Start Time</th>
                        <td class="lesson-table-element">10:15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">End Time</th>
                        <td class="lesson-table-element">11:45</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Classroom Nr</th>
                        <td class="lesson-table-element">2B</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="./Lesson-details.html" class="list-actions-button-details">Details</a>
                                <a href="./Edit-Lesson-Table.html" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher Name</th>
                        <td class="lesson-table-element">Jan Nowacki</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Start Time</th>
                        <td class="lesson-table-element">10:15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">End Time</th>
                        <td class="lesson-table-element">11:45</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Classroom Nr</th>
                        <td class="lesson-table-element">2B</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="./Lesson-details.html" class="list-actions-button-details">Details</a>
                                <a href="./Edit-Lesson-Table.html" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher Name</th>
                        <td class="lesson-table-element">Jan Nowacki</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Start Time</th>
                        <td class="lesson-table-element">10:15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">End Time</th>
                        <td class="lesson-table-element">11:45</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Classroom Nr</th>
                        <td class="lesson-table-element">2B</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="./Lesson-details.html" class="list-actions-button-details">Details</a>
                                <a href="./Edit-Lesson-Table.html" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher Name</th>
                        <td class="lesson-table-element">Jan Nowacki</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Start Time</th>
                        <td class="lesson-table-element">10:15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">End Time</th>
                        <td class="lesson-table-element">11:45</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Classroom Nr</th>
                        <td class="lesson-table-element">2B</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="./Lesson-details.html" class="list-actions-button-details">Details</a>
                                <a href="./Edit-Lesson-Table.html" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <th class="lesson-table-element">Teacher Name</th>
                        <td class="lesson-table-element">Jan Nowacki</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Date</th>
                        <td class="lesson-table-element">2020-11-15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Start Time</th>
                        <td class="lesson-table-element">10:15</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">End Time</th>
                        <td class="lesson-table-element">11:45</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Topic</th>
                        <td class="lesson-table-element">USA Elections</td>
                    </tr>
                    <tr>
                        <th class="lesson-table-element">Classroom Nr</th>
                        <td class="lesson-table-element">2B</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="lesson-table-flex">
                                <a href="./Lesson-details.html" class="list-actions-button-details">Details</a>
                                <a href="./Edit-Lesson-Table.html" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="lesson-table">
                <tbody>
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <a href="./Add-Lesson.html" class="lesson-table-add">+ Add new lesson</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
    <footer>
        Julian, Mikołajczyk, s18734
    </footer>

</body>

</html>