<!DOCTYPE html>
<html lang="pl-PL">
<link rel="stylesheet" href="./css/style.css" />


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Szkoła językowa MultiLanguage</title>


<body>
    <header>
        <a href="./index.html">
            <img src="./images/logo.png" alt="Szkoła językowa MultiLanguage Logo" class="center">
        </a>
    </header>

    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./Students.html">Students</a></li>
            <li><a href="./Teachers.html">Teachers</a></li>
            <li><a href="./Lessons.html" class="active">Lessons</a></li>
            <li><a href="./Presences.html">Presences</a></li>
        </ul>
    </nav>

    <main>

        <h2>Lesson Details</h2>
        <form class="form" style="justify-content: left;">
            <label for="LessonID">Lesson ID:</label>
            <input type="text" name="LessonID" value="13" id="LessonID" disabled />
            <label for="date">Date:</label>
            <input type="date" name="date" value="2020-11-18" id="date" disabled />
            <label for="StartTime">Start Time:</label>
            <input type="text" name="StartTime" value="10:15" id="StartTime" disabled />
            <label for="EndTime">End Time:</label>
            <input type="text" name="EndTime" value="11:45" id="EndTime" disabled />
            <label for="Topic">Topic:</label>
            <input type="text" name="Topic" value="USA Elections" id="Topic" disabled />
            <label for="ClassroomNr">Classroom Nr:</label>
            <input type="text" name="ClassroomNr" value="127B" id="ClassroomNr" disabled />
        </form>
        <div class="container2">

            <h2>Teacher's Details</h2>
            <table class="presences-table">
                <thead class="table-nav">
                    <tr>
                        <th class="table-nav-cell">Teacher's Name</th>
                        <th class="table-nav-cell">Teacher's Surname</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Jan</td>
                        <td class="presences-table-cell">Kowalski</td>
                    </tr>
                </tbody>
            </table>


            <h2>Students Details</h2>
            <table class="presences-table">
                <thead class="table-nav">
                    <tr>
                        <th class="table-nav-cell">Student's Name</th>
                        <th class="table-nav-cell">Student's Surname</th>
                        <th class="table-nav-cell">Was Present</th>
                        <th class="table-nav-cell">Reason</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Julian</td>
                        <td class="presences-table-cell">Mikołajczyk</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Ania</td>
                        <td class="presences-table-cell">Miła</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Hania</td>
                        <td class="presences-table-cell">Jeleńska</td>
                        <td class="presences-table-cell">No</td>
                        <td class="presences-table-cell">Sick</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Adam</td>
                        <td class="presences-table-cell">Nowacki</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Elżbieta</td>
                        <td class="presences-table-cell">Rejnuś</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">Work Trip</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Kamila</td>
                        <td class="presences-table-cell">Krasuska</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Fabian</td>
                        <td class="presences-table-cell">Lipiński</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Kacper</td>
                        <td class="presences-table-cell">Kuta</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Bartek</td>
                        <td class="presences-table-cell">Twardy</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>

            </table>
        </div>


    </main>
    <footer>
        Julian, Mikołajczyk, s18734
    </footer>

</body>

</html>