<%- include('../fragments/header.ejs') %>
    <main>
        <div class="container2">

            <h2>Lesson Details</h2>
            <table class="presences-table">
                <thead class="table-nav">
                    <tr>
                        <th class="table-nav-cell">Topic</th>
                        <th class="table-nav-cell">Date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">"USA Elections"</td>
                        <td class="presences-table-cell">2020-12-02</td>
                    </tr>
                </tbody>
            </table>
            <!-- <h2>Teacher Details</h2>
            <table class="presences-table">
                <thead class="table-nav">
                    <tr>
                        <th class="table-nav-cell">Teacher's Name</th>
                        <th class="table-nav-cell">Teacher's Surname</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Jan</td>
                        <td class="presences-table-cell">Kowalski</td>
                    </tr>
                </tbody>
            </table> -->
            <h2>Presence Information</h2>
            <table class="presences-table">
                <thead class="table-nav">
                    <tr>
                        <th class="table-nav-cell">Student's Name</th>
                        <th class="table-nav-cell">Student's Surname</th>
                        <th class="table-nav-cell">Was Present</th>
                        <th class="table-nav-cell">Reason</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Mikołaj</td>
                        <td class="presences-table-cell">Kowalski</td>
                        <td class="presences-table-cell">No</td>
                        <td class="presences-table-cell">Work Trip</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </main>
    <%- include('../fragments/footer.ejs') %>