<!DOCTYPE html>
<html lang="pl-PL">
<link rel="stylesheet" href="./css/style.css" />


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Szkoła językowa MultiLanguage</title>


<body>
    <header>
        <a href="./index.html">
            <img src="./images/logo.png" alt="Szkoła językowa MultiLanguage Logo" class="center">
        </a>
    </header>

    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./Students.html">Students</a></li>
            <li><a href="./Teachers.html">Teachers</a></li>
            <li><a href="./Lessons.html">Lessons</a></li>
            <li><a href="./Presences.html" class="active">Presences</a></li>
        </ul>
    </nav>

    <main>
        <div class="container2">

            <h2>Lesson Details</h2>
            <table class="presences-table">
                <thead class="table-nav">
                    <tr>
                        <th class="table-nav-cell">Topic</th>
                        <th class="table-nav-cell">Date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">"USA Elections"</td>
                        <td class="presences-table-cell">2020-12-02</td>
                    </tr>
                </tbody>
            </table>
            <!-- <h2>Teacher Details</h2>
            <table class="presences-table">
                <thead class="table-nav">
                    <tr>
                        <th class="table-nav-cell">Teacher's Name</th>
                        <th class="table-nav-cell">Teacher's Surname</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Jan</td>
                        <td class="presences-table-cell">Kowalski</td>
                    </tr>
                </tbody>
            </table> -->
            <h2>Presence Information</h2>
            <table class="presences-table">
                <thead class="table-nav">
                    <tr>
                        <th class="table-nav-cell">Student's Name</th>
                        <th class="table-nav-cell">Student's Surname</th>
                        <th class="table-nav-cell">Was Present</th>
                        <th class="table-nav-cell">Reason</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Mikołaj</td>
                        <td class="presences-table-cell">Kowalski</td>
                        <td class="presences-table-cell">No</td>
                        <td class="presences-table-cell">Work Trip</td>
                    </tr>
                </tbody>
            </table>


            <!-- <h2>Students Presences</h2>
            <table class="presences-table">
                <thead class="table-nav">
                    <tr>
                        <th class="table-nav-cell">Student's Name</th>
                        <th class="table-nav-cell">Student's Surname</th>
                        <th class="table-nav-cell">Was Present</th>
                        <th class="table-nav-cell">Reason</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Julian</td>
                        <td class="presences-table-cell">Mikołajczyk</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Ania</td>
                        <td class="presences-table-cell">Miła</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Hania</td>
                        <td class="presences-table-cell">Jeleńska</td>
                        <td class="presences-table-cell">No</td>
                        <td class="presences-table-cell">Sick</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Adam</td>
                        <td class="presences-table-cell">Nowacki</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Elżbieta</td>
                        <td class="presences-table-cell">Rejnuś</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">Work Trip</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Kamila</td>
                        <td class="presences-table-cell">Krasuska</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Fabian</td>
                        <td class="presences-table-cell">Lipiński</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Kacper</td>
                        <td class="presences-table-cell">Kuta</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-body">
                        <td class="presences-table-cell">Bartek</td>
                        <td class="presences-table-cell">Twardy</td>
                        <td class="presences-table-cell">Yes</td>
                        <td class="presences-table-cell">----</td>
                    </tr>
                </tbody>
            </table> -->
        </div>


    </main>
    <footer>
        Julian, Mikołajczyk, s18734
    </footer>

</body>

</html>