<%- include('../fragments/header.ejs') %>
    <main>
        <div>
            <table class="table">
                <thead class="table-nav">
                    <tr>
                        <th class="table-nav-cell">Name</th>
                        <th class="table-nav-cell">Surname</th>
                        <th class="table-nav-cell">E-mail</th>
                        <th class="table-nav-cell">PESEL</th>
                        <th class="table-nav-cell">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body">
                        <td>Jan</td>
                        <td>Kowalski</td>
                        <td>jan.kowalski@acme.com</td>
                        <td>1111111111</td>
                        <td class="dropdown">
                            <button class="dropbtn">Details</button>
                            <div class="dropdown-content">
                                <a href="Students/details/1" class="list-actions-button-details">Profile
                                    Informations</a>
                                <a href="Students/edit" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-body">
                        <td>Julian</td>
                        <td>Mikołajczyk</td>
                        <td>mikolajczykjulian@gmail.com</td>
                        <td>2222222222</td>
                        <td class="dropdown">
                            <button class="dropbtn">Details</button>
                            <div class="dropdown-content">
                                <a href="Students/details/1" class="list-actions-button-details">Profile
                                    Informations</a>
                                <a href="Students/edit" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-body">
                        <td>Michał</td>
                        <td>Melaniuk</td>
                        <td>michalmelaniuk@gmail.com</td>
                        <td>3333333333</td>
                        <td class="dropdown">
                            <button class="dropbtn">Details</button>
                            <div class="dropdown-content">
                                <a href="Students/details/1" class="list-actions-button-details">Profile
                                    Informations</a>
                                <a href="Students/edit" class="list-actions-button-edit">Edit</a>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="Students/add" class="button-add">Add New Student</a>
        </div>


    </main>
    <%- include('../fragments/footer.ejs') %>