<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Student Details</h2>
        <form class="form" style="justify-content: left;">
            <label for="firstName">Name:</label>
            <input type="text" name="firstName" value="Julian" id="firstName" disabled />
            <label for="lastName">Surname:</label>
            <input type="text" name="lastName" value="Mikołajczyk" id="lastName" disabled />
            <label for="PESEL">PESEL:</label>
            <input type="text" name="PESEL" value="00111112121" id="PESEL" disabled />
            <label for="Email">E-mail:</label>
            <input type="text" name="Email" value="mikolajczykjulian@gmail.com" id="Email" disabled />
        </form>

        <h2>Student Time Table</h2>

        <table style="justify-content: left;" class="table-list">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            <tr>
                <th>8:30-10:00</th>
                <td></td>
                <td>
                    <p>
                        Classroom 170
                    </p>
                    <p>
                        Topic:"Adjectives"
                    </p>
                    <p>
                        Nauczyciel: Michał Melaniuk
                    </p>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>10:15-11:45</th>
                <td></td>

                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        Classroom 107
                    </p>
                    <p>
                        Topic:"USA Elections"
                    </p>
                    <p>
                        Nauczyciel: Julian Mikołajczyk
                    </p>
                </td>
            </tr>
            <tr>
                <th>12:15-13:45</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>14:00-15:30</th>
                <td></td>
                <td></td>
                <td>
                    <p>
                        Classroom 107
                    </p>
                    <p>
                        Topic:"Riot in NYC"
                    </p>
                    <p>
                        Nauczyciel: Julian Mikołajczyk
                    </p>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>15:45-17:15</th>
                <td>
                    <p>
                        Classroom 2B
                    </p>
                    <p>
                        Topic:"Phrasal verbs"
                    </p>
                    <p>
                        Nauczyciel: Michał Melaniuk
                    </p>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <h2>Student Presences</h2>

        <table class="presences-table" style="min-width: 40%;">
            <thead class="table-nav">
                <tr>
                    <th class="table-nav-cell">Class ID</th>
                    <th class="table-nav-cell">Date</th>
                    <th class="table-nav-cell">Topic</th>
                    <th class="table-nav-cell">Is Present</th>
                    <th class="table-nav-cell">Reason</th>

                </tr>
            </thead>
            <tbody>
                <tr class="table-body">
                    <td class="presences-table-cell">12</td>
                    <td class="presences-table-cell">10-11-2020</td>
                    <td class="presences-table-cell">Adjectives</td>
                    <td class="presences-table-cell">Yes</td>
                    <td class="presences-table-cell">----</td>
                </tr>
                <tr class="table-body">
                    <td class="presences-table-cell">13</td>
                    <td class="presences-table-cell">17-11-2020</td>
                    <td class="presences-table-cell">Nouns</td>
                    <td class="presences-table-cell">Yes</td>
                    <td class="presences-table-cell">----</td>
                </tr>
                <tr class="table-body">
                    <td class="presences-table-cell">14</td>
                    <td class="presences-table-cell">24-11-2020</td>
                    <td class="presences-table-cell">Will we survive the future?</td>
                    <td class="presences-table-cell">Yes</td>
                    <td class="presences-table-cell">----</td>
                </tr>
                <tr class="table-body">
                    <td class="presences-table-cell">15</td>
                    <td class="presences-table-cell">30-11-2020</td>
                    <td class="presences-table-cell">My own diary</td>
                    <td class="presences-table-cell">No</td>
                    <td class="presences-table-cell">Sick</td>
                </tr>
                <tr class="table-body">
                    <td class="presences-table-cell">16</td>
                    <td class="presences-table-cell">06-12-2020</td>
                    <td class="presences-table-cell">Attack on France</td>
                    <td class="presences-table-cell">Yes</td>
                    <td class="presences-table-cell">----</td>
                </tr>
                <tr class="table-body">
                    <td class="presences-table-cell">17</td>
                    <td class="presences-table-cell">13-12-2020</td>
                    <td class="presences-table-cell">19th century</td>
                    <td class="presences-table-cell">No</td>
                    <td class="presences-table-cell">Sick</td>
                </tr>
            </tbody>

        </table>

    </main>
    <%- include('../fragments/footer.ejs') %>